<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//spanD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/spanD/xhtml1-strict.spand">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>CollabHub</title>
		<meta http-equiv="content-type"
				content="application/xhtml+xml; charset=utf-8" />
		<link rel="stylesheet" type="text/css" media="screen"
			href="/style.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/Comet.js"></script>
		<script type="text/javascript" src="/application.js"></script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>